<ion-content>
  <ion-toolbar class="header" color="success">
    <ion-icon slot="start"name="chevron-back-outline" routerLink="/home"></ion-icon>
    <ion-title color="light" position="floating">Đã Lưu</ion-title>
  </ion-toolbar>
  <div class="container">
    <ion-card>
      <div class="content" routerLink="/detail-tour">
          <img alt="Silhouette of mountains" src="https://images.unsplash.com/photo-1611768817156-b69fe2c9d1b4?ixlib=rb-4.0.3&ixid=%3D&auto=format&fit=crop&w=500&q=60" />
        <div class="text">
          <ion-card-header>
            <ion-card-title style="font-size:20px">Rừng thông đà lạt</ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="text-content">
            Rừng thông đà lạt ừng thông đà lạt rừng thông đà lạt
            <ion-card-subtitle style="font-size:12px">Đánh giá : 
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
            </ion-card-subtitle>
          </ion-card-content>
        </div>
        <div class="icon">
          <ion-icon name="close" class="icon-close"></ion-icon>
        </div>
      </div>
      <ion-card-subtitle class=" ion-margin price">1.200.000 VND/Pax</ion-card-subtitle>
    </ion-card>
  </div>
  <div class="container" routerLink="/detail-tour">
    <ion-card>
      <div class="content">
          <img alt="Silhouette of mountains" src="https://images.unsplash.com/photo-1611768817156-b69fe2c9d1b4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8NGslMjBmb3Jlc3R8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" />
        <div class="text">
          <ion-card-header>
            <ion-card-title style="font-size:20px">Rừng thông đà lạt</ion-card-title>
          </ion-card-header>
        
          <ion-card-content class="text-content">
            Rừng thông đà lạt ừng thông đà lạt rừng thông đà lạt
            <ion-card-subtitle style="font-size:12px">Đánh giá : 
              <ion-icon color="warning" name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
              <ion-icon color="warning"name="star"></ion-icon>
            </ion-card-subtitle>
          </ion-card-content>
        </div>
        <div class="icon">
          <ion-icon name="close" class="icon-close"></ion-icon>
        </div>
      </div>
      <ion-card-subtitle class=" ion-margin price">1.200.000 VND/Pax</ion-card-subtitle>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="save">
        <ion-icon name="bookmark-outline" routerLink="/save"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="person">
        <ion-icon name="person-outline" routerLink="/user"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>