<ion-content>
  <ion-toolbar class="header" color="success">
    <ion-icon slot="start"name="chevron-back-outline" routerLink="/home"></ion-icon>
    <ion-title color="light" position="floating">Voucher</ion-title>
  </ion-toolbar>
  <div class="container">
    <ion-card>
      <div class="content" >
          <img alt="Silhouette of mountains" src="assets/imgs/sale.png" />
        <div class="text">
          <ion-card-header>
            <ion-checkbox style="font-size:20px">Giảm 30%</ion-checkbox>
          </ion-card-header>
          <ion-card-content class="text-content">
            Giảm 30% với những khách hàng đầu tiên sử dụng dịch vụ.
          </ion-card-content>
        </div>
      </div>
    </ion-card>
    <ion-card>
      <div class="content" >
          <img alt="Silhouette of mountains" src="assets/imgs/sale.png" />
        <div class="text">
          <ion-card-header>
            <ion-checkbox style="font-size:20px">Giảm 50%</ion-checkbox>
          </ion-card-header>
          <ion-card-content class="text-content">
            Giảm 50% với những khách hàng đặt tour lần thứ 3.
          </ion-card-content>
        </div>
      </div>
    </ion-card>
    <ion-card>
      <div class="content" >
          <img alt="Silhouette of mountains" src="assets/imgs/sale.png" />
        <div class="text">
          <ion-card-header>
            <ion-checkbox style="font-size:20px">Giảm 20%</ion-checkbox>
          </ion-card-header>
          <ion-card-content class="text-content">
            Giảm 20% với những khách hàng đặt tour lần thứ 2.
          </ion-card-content>
        </div>
      </div>
    </ion-card>
    <ion-card>
      <div class="content" >
          <img alt="Silhouette of mountains" src="assets/imgs/sale.png" />
        <div class="text">
          <ion-card-header>
            <ion-checkbox style="font-size:20px">Giảm 10%</ion-checkbox>
          </ion-card-header>
          <ion-card-content class="text-content">
            Giảm 10% với những khách hàng đánh giá tốt ứng dụng trên CH Play và App Store.
          </ion-card-content>
        </div>
      </div>
    </ion-card>
    <ion-card>
      <div class="content" >
          <img alt="Silhouette of mountains" src="assets/imgs/sale.png" />
        <div class="text">
          <ion-card-header>
            <ion-checkbox style="font-size:20px">Tặng 1 tour bất kỳ</ion-checkbox>
          </ion-card-header>
          <ion-card-content class="text-content">
            Tặng 1 tour bất kỳ cho khách hàng lâu năm (Trên 2 năm & đặt 8 tour trở lên).
          </ion-card-content>
        </div>
      </div>
    </ion-card>
  </div>
</ion-content>
<ion-footer>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="save">
        <ion-icon name="bookmark-outline" routerLink="/save"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="person">
        <ion-icon name="person-outline" routerLink="/user"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>