<ion-content>
  <ion-toolbar class="header" color="success">
    <ion-button class="back-btn" fill="clear" routerLink="/home"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
  </ion-toolbar>
  <div class="container">
        <div class="avatar-container">  <img src="assets/imgs/user1.png" alt=""></div>
        <strong class="nameUser">User X</strong>
  </div>
  <ion-content><span class="paymentInfo">
    <ion-item class="box-header-menu">
      <strong>Thẻ thanh toán:</strong><ion-select justify="end" placeholder="Voucher List">
        <ion-select-option value="">Giảm 50%</ion-select-option>
        <ion-select-option value="">Miễn phí trung chuyển</ion-select-option>
        <ion-select-option value="">Giảm 25%</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="box-header-menu">
      <strong>Mã giảm giá:</strong><ion-select justify="end" placeholder="Voucher List">
        <ion-select-option value="">Giảm 50%</ion-select-option>
        <ion-select-option value="">Miễn phí trung chuyển</ion-select-option>
        <ion-select-option value="">Giảm 25%</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="box-header-menu">
      <strong>Lịch đặt tour:</strong><ion-select justify="end" placeholder="Voucher List">
        <ion-select-option value="">Giảm 50%</ion-select-option>
        <ion-select-option value="">Miễn phí trung chuyển</ion-select-option>
        <ion-select-option value="">Giảm 25%</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item class="box-header-menu">
      <strong>Mã giảm giá:</strong><ion-select justify="end" placeholder="Voucher List">
        <ion-select-option value="">Giảm 50%</ion-select-option>
        <ion-select-option value="">Miễn phí trung chuyển</ion-select-option>
        <ion-select-option value="">Giảm 25%</ion-select-option>
      </ion-select>
    </ion-item>
    <p style="padding-left: 30px;" class="box-header-menu"><strong>Cài đặt:</strong> <ion-button color="medium" shape="round" fill="clear" ><ion-icon name="settings-outline"></ion-icon></ion-button></p>
  </span></ion-content>
</ion-content>
<ion-footer>
<ion-toolbar>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" routerLink="/home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="save" routerLink="/save">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="person">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
</ion-footer>
<ion-alert> </ion-alert>